body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: black;
}

.container>h1 {
  text-align: center;
  color: white;
  font-size: 75px;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 20px;
}

.container>p {
  color: white;
  font-size: 20px;
  margin: 0;
  text-align: center;
}

.header-link {
  font-size: 20px;
  color: rgb(68, 161, 237);
  text-decoration: none;
  transition: ease-in-out 0.3s;
}

@media (hover: hover) {

  /* when hover is supported */
  .header-link:hover {
    color: white;
  }
}
